@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --height-lp-section : 45rem;
}


::selection {
	@apply bg-green-700;
	border-radius: 5px;
	color: white;
}


body{
    &::-webkit-scrollbar {
		width: 13px;
	}

	&::-webkit-scrollbar-track {
		@apply bg-gray-50;
		width: 13px;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-green-700;
	}

	&::-webkit-scrollbar-thumb:hover {
		@apply bg-green-800;
	}
}

.h1, h1 {
	@apply text-4xl font-bold text-gray-900; /* Apply Tailwind utility classes */
}
  
.h2, h2{
	@apply text-3xl font-semibold text-gray-900
}

.h3, h3 {
	@apply text-xl font-semibold text-gray-900; /* Apply Tailwind utility classes */
}

.h4, h4 {
	@apply text-lg font-medium text-gray-900; /* Apply Tailwind utility classes */
}

.h5, h5 {
	@apply text-base font-normal text-gray-900; /* Apply Tailwind utility classes */
}
  
.h6, h6 {
	@apply text-sm font-light text-gray-900; /* Apply Tailwind utility classes */
}

/* For ordered lists */
ol {
	@apply list-decimal pl-6; /* Apply Tailwind utility classes */
}

/* For list items */
ol li {
	@apply text-base font-normal text-gray-900; /* Apply Tailwind utility classes */
}

ul {
	@apply list-disc pl-6; /* Apply Tailwind utility classes */
  }
  
/* For list items */
ul li {
	@apply text-base font-normal text-gray-900; /* Apply Tailwind utility classes */
}

#body {
	button{
		svg{
			// fill: white
			stroke: white;
		}
	}

	button[color='rose']{
		@apply bg-rose-600 outline-rose-500;
		&:hover {
			@apply bg-rose-500;
		}

		&:active {
			@apply bg-rose-700;
		}

		&:disabled {
			@apply bg-rose-200
		}
		
	}

	button[color='purple']{
		@apply bg-purple-600 outline-purple-500;
		&:hover {
			@apply bg-purple-500;
		}

		&:active {
			@apply bg-purple-700;
		}

		&:disabled {
			@apply bg-purple-200
		}
		
	}
	
	button[color='orange']{
		@apply bg-orange-600 outline-orange-500;
		&:hover {
			@apply bg-orange-500;
		}

		&:active {
			@apply bg-orange-700;
		}

		&:disabled {
			@apply bg-orange-200
		}
		
	}
	button[color='red']{
		@apply bg-red-600 outline-red-500;
		&:hover {
			@apply bg-red-500;
		}

		&:active {
			@apply bg-red-700;
		}

		&:disabled {
			@apply bg-red-200
		}
	}

	button[color='cyan']{
		@apply bg-cyan-600 outline-cyan-500;
		&:hover {
			@apply bg-cyan-500;
		}

		&:active {
			@apply bg-cyan-700;
		}

		&:disabled {
			@apply bg-cyan-200
		}
	}
}
